@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.document__image
  position: absolute
  top: $s
  left: $s
  height: 60px
  width: 60px
  overflow: hidden
  img
    width: 100%
