@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.codepen__link
  display: block
  padding: $s 0px
  opacity: .3
  &:hover
    opacity: .9
