@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"


.document__content
  display: table-cell
  height: 60px
  vertical-align: middle
  padding-left: 76px
