@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.form-description
  text-align: center
  color: lighten($base, 60%)
  margin-top: $s
  line-height: 1.2em
