@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.mail
  box-sizing: border-box
  position: relative
  min-height: 35px
  background: $clean
  padding: $xs
  &:hover
    background: lighten($project, 81%)
