@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.social-group-tile__header
	box-sizing: border-box
	background-color: $project
	width: 100%
	min-height: 128px
	padding: $l
