@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.social-group-tile__avatar
	position: absolute
	background: url('/i/facebookdesign.jpg') center no-repeat
	top: 68px
	left: $m
	width: 76px
	height: 76px
	border-radius: 4px
	overflow: hidden
