@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.friend__image
  position: absolute
  top: $xs
  left: $xs
  height: 34px
  width: 34px
  overflow: hidden
  svg
    fill: $project
  img
    width: 100%
