@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.social-suggested-people-profile__picture
  position: absolute
  top: 0
  left: 0
  height: 60px
  width: 60px
  overflow: hidden
  border-radius: 4px
