@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.social-activity-list__header
  padding: $s
  border-bottom: 1px solid lighten($base, 80%)
