@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.event-tile__description
  line-height: 1.4em
  text-align: center
  margin-bottom: $s
