@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.color__text
  padding-left: 76px
  display: table-cell
  height: 60px
  vertical-align: middle
