@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.news__image
  width: 48px
  height: 60px
  position: absolute
  left: 9px
  top: 9px
  svg
    fill: $project
