@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.expert-info__image
  border-radius: 50%
  overflow: hidden
  position: absolute
  top: 0px
  left: 0px
  height: 60px
  width: 60px
  background: $normal
