@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.product-tile__icon
  width: 90px
  height: 90px
  background: lighten($base, 80%)
  margin: 0 auto
  margin-bottom: $xs
  display: block
  border-radius: 4px
