@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.product-tile__web
  text-align: center
  color: $link
  margin-bottom: $s
  font-size: 14px
  display: block
  text-align: center
