@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.social-text-tile__content
  margin-bottom: $xs
  line-height: 1.4em
  &:last-child
  	margin-bottom: 0px

