@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.user__image
  border-radius: 50%
  overflow: hidden
  position: absolute
  top: $s
  left: $s
  height: 60px
  width: 60px
  background: lighten($base, 80%)
  img
    width: 100%
