@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.page-row
  box-sizing: border-box
  margin-bottom: $xxl
  padding-bottom: $xxl
  &:last-child
    border: none
