@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.avatar__text
  padding-left: 136px
  height: 136px
  display: table-cell
  vertical-align: middle
