@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.social-text-tile-share-list__item
  float: left
  margin-right: $xs
  &:last-child
    margin-right: none
