@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.social-location-string
  position: relative
  padding: $s
  &:last-child
  	padding-bottom: 0px