@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.social-suggested-people-header__image
  position: absolute
  top: -5px
  right: -11px
