@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.position__image
  position: absolute
  top: $s
  left: $s
  height: 60px
  width: 60px
  background: lighten($base, 80%)
  border-radius: 4px
