@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.news
  border-box: box-sizing
  position: relative
  padding: $s
  background: $clean
  &:hover
    background: lighten($project, 81%)
