@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.social-comment-tile__image
  width: 100%
  background: url('/i/header-section.jpg')
  background-size: cover
  height: 200px
  margin-bottom: $s
