@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.social-comment-answer-list__answer
  margin-bottom: $s
  &:last-child
    margin-bottom: 0
