@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.social-suggested-people-profile-content
  padding-left: 70px;
  display: table-cell;
  max-width: 205px;
  height: 60px;
  vertical-align: middle;
