@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.top-news
  box-sizing: border-box
  padding: $s
  background: $clean
  &:hover
    background: lighten($project, 81%)
