@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.social-comment-link
  position: relative
  padding-left: $l
  margin-right: $s
  float: left
  line-height: 34px
