@import "../../../libs/bemdesign-components/colors.styl"
@import "../../../libs/bemdesign-components/spaces.styl"

.social-location-string__image
    width: 25px
    position: absolute
    top: 8px
    left: 10px
