@import "../../libs/bemdesign-components/colors.styl"
@import "../../libs/bemdesign-components/spaces.styl"

.social-comment-answer
  position: relative
  padding-left: $xl
  margin-bottom: $s
  &:last-child
    margin-bottom: 0
  &:first-child
    margin-top: $s
